{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            my title
        </title>
        <link rel="stylesheet" href="{% static 'style.css' %}"/>
    </head>
    <body>
        <div>
            <div>
                <h2 style="font-weight: bold;">Tracking info</h2>
            </div>
            <div class="tracking">
                <div>
                    <h3>Appointment status</h3>
                </div>
                <div style="text-align: center;">
                    <h3>History</h3>
                    <div >
                        {% for appointment in appointment_list %}
                        <table>
                            <td>
                                <tr>Name</tr>
                            </td>
                            <td>
                                <tr>Email</tr>
                            </td>
                        </table>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>